{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["flowtype"],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-console": 2
  }
}